In [33]:
import sqlite3

def create_sqlite_database(filename):
    """ create a database connection to an SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(filename)
        print(sqlite3.sqlite_version)
    except sqlite3.Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


create_sqlite_database("my.db")

3.31.1

In [69]:
import pandas as pd
dataPath = 'BankCustomerData.csv'

df = pd.read_csv(dataPath)
df["id"] = df.index + 1
print(df)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'RangeIndex'

In [74]:
conn = sqlite3.connect("my.db")
sql_data = df.to_sql(name = "data_2nf", con = conn, if_exists='replace', index=True, index_label = "id")

In [75]:
tables = pd.read_sql(""" SELECT * FROM sqlite_master WHERE type = 'table'; """, conn)

In [76]:
print(tables)

    type      name  tbl_name  rootpage  \
0  table         t         t         2
1  table      data      data         3
2  table       job       job      1740
3  table  data_2nf  data_2nf      4359

                                                 sql
0                        CREATE TABLE t (col1, col2)
1  CREATE TABLE "data" (\n"age" INTEGER,\n  "job"...
2  CREATE TABLE "job" (\n"age" INTEGER,\n  "job" ...
3  CREATE TABLE "data_2nf" (\n"id" INTEGER,\n  "a...

In [78]:
customers = pd.read_sql("SELECT * FROM data_2nf;", conn)
print(customers)
#looks like the database is in 2nf

          id  age           job  marital  education default  balance housing  \
0          0   58    management  married   tertiary      no     2143     yes
1          1   44    technician   single  secondary      no       29     yes
2          2   33  entrepreneur  married  secondary      no        2     yes
3          3   47   blue-collar  married    unknown      no     1506     yes
4          4   33       unknown   single    unknown      no        1      no
...      ...  ...           ...      ...        ...     ...      ...     ...
42634  42634   21       student   single  secondary      no     2488      no
42635  42635   87       retired  married    primary      no     2190      no
42636  42636   34   blue-collar  married    primary      no     6718      no
42637  42637   22       student   single  secondary      no      254      no
42638  42638   32    management   single   tertiary      no     1962      no

      loan    contact  day month  duration  campaign  pdays  previous  \
0       no    unknown    5   may       261         1     -1         0
1       no    unknown    5   may       151         1     -1         0
2      yes    unknown    5   may        76         1     -1         0
3       no    unknown    5   may        92         1     -1         0
4       no    unknown    5   may       198         1     -1         0
...    ...        ...  ...   ...       ...       ...    ...       ...
42634   no  telephone   12   jan       661         2     92         1
42635   no  telephone   12   jan       512         2     -1         0
42636   no   cellular   13   jan       278         4     97         1
42637   no   cellular   13   jan       143         2     -1         0
42638   no   cellular   13   jan       130         1     -1         0

      poutcome term_deposit
0      unknown           no
1      unknown           no
2      unknown           no
3      unknown           no
4      unknown           no
...        ...          ...
42634  success          yes
42635  unknown          yes
42636    other           no
42637  unknown          yes
42638  unknown           no

[42639 rows x 18 columns]

In [79]:
old_customers = pd.read_sql("SELECT * FROM data_2nf WHERE age >50;", conn)
print(old_customers)

         id  age            job   marital  education default  balance housing  \
0         0   58     management   married   tertiary      no     2143     yes
1         8   58        retired   married    primary      no      121     yes
2        12   53     technician   married  secondary      no        6     yes
3        13   58     technician   married    unknown      no       71     yes
4        14   57       services   married  secondary      no      162     yes
...     ...  ...            ...       ...        ...     ...      ...     ...
8452  42618   53         admin.  divorced   tertiary      no        0     yes
8453  42619   85        retired   married    unknown      no     1934      no
8454  42623   66  self-employed   married   tertiary      no      147      no
8455  42625   66        retired    single   tertiary      no        0      no
8456  42635   87        retired   married    primary      no     2190      no

     loan    contact  day month  duration  campaign  pdays  previous poutcome  \
0      no    unknown    5   may       261         1     -1         0  unknown
1      no    unknown    5   may        50         1     -1         0  unknown
2      no    unknown    5   may       517         1     -1         0  unknown
3      no    unknown    5   may        71         1     -1         0  unknown
4      no    unknown    5   may       174         1     -1         0  unknown
...   ...        ...  ...   ...       ...       ...    ...       ...      ...
8452  yes   cellular   12   jan       171         1     64         6    other
8453   no  telephone   12   jan       140         1     -1         0  unknown
8454   no  telephone   12   jan       411         1     -1         0  unknown
8455   no   cellular   12   jan       105         1     92         2  failure
8456   no  telephone   12   jan       512         2     -1         0  unknown

     term_deposit
0              no
1              no
2              no
3              no
4              no
...           ...
8452           no
8453           no
8454          yes
8455           no
8456          yes

[8457 rows x 18 columns]

In [82]:
rich_customers = pd.read_sql("SELECT balance, id FROM data_2nf WHERE balance >10000;", conn)
print(rich_customers)

     balance     id
0      10635     34
1      12223     69
2      24598    334
3      45248    446
4      58544    920
..       ...    ...
765    12018  42540
766    10788  42548
767    81204  42558
768    11303  42571
769    14533  42590

[770 rows x 2 columns]